<div class="container mt-4 mb-0">
    <div class="row">
        <div class="col-12">
            <h1 class="main-h1">События в ближайшие дни <a href="#" class="btn btn-link ml-2">Смотреть все <i class="fa fa-angle-right ml-1" aria-hidden="true"></i></a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle" data-toggle="dropdown">Все категории </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Культура</a>
                    <a class="dropdown-item" href="#">Спорт</a>
                    <a class="dropdown-item" href="#">IT технологии</a>
                    <a class="dropdown-item" href="#">Детские</a>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle ml-1" data-toggle="dropdown">Платные и бесплатные </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Только платные</a>
                    <a class="dropdown-item" href="#">Только бесплатные</a>
                    <a class="dropdown-item" href="#">Платные и бесплатные</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <p>Template for <i>welcome#index</i></p>
            <p>These guidelines are designed to help developers and designers create a beautifully consistent experience on the elementary OS desktop. They were written for interface designers, graphic artists and software developers who will be working on elementary OS. They will not only define specific design elements and principles, but will also instill a philosophy that will help you decide when it is appropriate to deviate from the Guidelines. Adhering to the suggestions contained here will provide many benefits:</p>
        </div>
    </div>
</div>