/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require leaflet
 */

 @import "bootstrap";

 body {font-family: 'TexGyreHerosCyr';font-weight: 300;font-style: normal;}
 h1.sign-form-h1 {font-size:26px;color:#434343;}

 .main-navbar {border-bottom:1px solid #d8d8d8;}
 .main-logo {width:150px;}
 .main-nav-btn {padding-bottom:4px;}
 .fa-main-menu-licon {margin-right:2px;}
